<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness-Tracker</title>
</head>
<header>
    <h1>Fitness Tracker App</h1>
</header>
<body>
    <h2>Select user or create new user:</h2>

    <form action="/adduser" method="POST">
        <input type="text" name="user" placeholder="User name"></input>
        <input type="submit" value="Update Users">
    </form>
    
    <% for(let i = 0; i < users.length; i++){ %>
        <ul>
            <li>User: <%= users[i].user %> </li>
            <button class="del" >Delete</button>
            <a class="userLink" href="/api/<%= users[i].user %>"><p>See Fitness Info</p></a>
        </ul>
        <% } %>

<script src="/main.js" defer></script>
</body>
</html>