html{
    font-family: 'Syne', sans-serif;
    height: 100%;
    color: rgb(54, 17, 90);
}

h1{
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight: bold;
}

body{
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    margin-bottom: 2%;
}


li{
    list-style: none;
}

button, .button{
    background-color: #cf9bff;
    color: rgb(54, 17, 90);
    border-radius: 10px;
}

.last-item{
 margin-bottom: 2%;
}

.section-bubble{
    border: purple solid 3px;
    border-radius: 25px;
    display: inline-block;
    padding: 2% 2%;
    margin-left: 3%;
    background-color: rgba(219, 191, 247, 0.4);
}

.hidden{
    display: none;
}